* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#container {
  width: 100%;
  min-height: 1280px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrap {
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  왼쪽 영역 시작*/
#left {
  width: 60%;
  height: 100%;
  border: 1px solid red;
}

#leftBox {
  display: flex;
  flex-direction: column;
}

#left > div {
  border: 1px solid black;
}

#storeImgDiv {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#storeImg {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

#storeContent {
  height: 25%;
  display: flex;
  flex-direction: column;
}

.storeInfo {
  width: 100%;
  height: 16.6%;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  width: 20%;
  padding-left: 10px;
}

.Info {
  width: 65%;
  text-align: center;
}

#storeFoot {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: auto;
}

#menuBox {
  width: 99%;
  height: 100%;
  border: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
}

.menudiv {
  height: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menudiv > div {
  height: 100%;
  width: 25%;
  border: 1px solid black;
}

#menuImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

#menuImg > img {
  width: 100px;
  height: 80px;
}

#menuContent {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#menuContent > div {
  width: 100%;
  height: 33%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#menuQuen {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#plusButton {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  왼쪽 영역 끝*/

#right {
  width: 38%;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

#top {
  width: 100%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top > div {
  width: 100%;
  border: 1px solid black;
  height: 33.3%;
  text-align: center;
  font-weight: bold;
}

#top > #label {
  height: 10%;
  line-height: 50px;
}

#top > #rightmenus {
  height: 80%;
}

.rightmenu {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  line-height: 50px;
}

.rightmenu > div {
  width: 33.3%;
  border: 1px solid black;
}

#top > #totalPriceBox {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#bottom {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}

#bottom > div {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

#button1 {
  width: 90%;
  height: 100%;
  border: 1px solid black;
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#button1 > div {
  width: 30%;
  border: 1px solid black;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

#deliver {
  background-color: #21ef42;
}

#pickup {
  background-color: #ef2121;
}

#pay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

#payButton {
  background-color: #21ef42;
  width: 70%;
  height: 40%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
